body { margin: 0; overflow: hidden; font-family: sans-serif; background: #333; }
canvas { display: block; background: #f0f0f0; touch-action: none; }

#lobbyScreen {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
button { padding: 10px 20px; font-size: 16px; cursor: pointer; margin-top: 10px;}
input { padding: 10px; font-size: 16px; }
